@model WeatherApp.ViewModels.ViewModel

@{
    ViewBag.Title = "Forecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <h2>
        Forecast for @Model.Location
    </h2>
    @Html.Raw(@Model.GetWeatherList())
}
<div>
    @Html.ActionLink("Go back", "Index")
</div>