@*@Model = WeatherApp.Models.Weather*@

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
</div>

<div class="row">
    
    @foreach (var item in Model)
    {
        <div>
            @item.Temperature
        </div>
        <div>
            <img src="http://openweathermap.org/img/w/@(item.Description).png" />
        </div>
    }

</div>