@model WeatherApp.Models.Test

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Model.Greet Dude
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>