@model WeatherApp.Models.Location

@{
    ViewBag.Title = "Weather app";
}

<div class="row index">
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div>
            Enter a location
        </div>
        <div>
            @Html.EditorFor(m => @m.Location1)
            <input type="submit" value="Get forecast" />
        </div>
    }
</div>